.qualquercoisa{
    height: 1000px;
}

#container{
    opacity: 1;
    height: 800px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden{
    opacity: 0;
}

.visible{
    width: 200px;
    height: 200px;
    animation: fadeIn 3s linear;
}

@keyframes fadeIn{
    0% {
        rotate: 360deg;
        
    }
    100% {
        rotate: 0;
    }
    
}

