@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
:root{
    --cor1: #363636;
    --cor2: #5bb5e9;
    --cor3: #c7bf53;
    --cor4: #f3fbfc;
    --fonte1: "Krona One", sans-serif;
    --fonte2: "Montserrat", sans-serif;
    --fonte3: "Honk", system-ui;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    max-width: 100%;

}

body{
   
    background-color: var(--cor1);
    color: var(--cor4);
    box-sizing: border-box;
}

#menu-h {
    display: flex;
    padding: 1rem;
    background-color: var(--cor2);
}

.menu-link{
    text-decoration: none;
    font-size: 1.5rem;
    gap: 5rem;
    color: var(--cor1);
    margin: 1rem;
}

.menu-link:hover {
    color: var(--cor4);
    transition: all 150ms ease-in-out;
}

#info{
    margin: 2rem;
    text-align: center;
}

#info-nome{
padding: 1rem;
font-size: 3rem;
margin: 0.5rem;
}

#info-list{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin: 2rem;
}



#info-list-habilits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    margin: 2rem;
    border: 2px solid var(--cor4);
}

#info-descricao-titulo{
    padding: 1rem;
    font-size: 2rem;
    margin: 1rem;
}

#info-descricao{
    padding: 1rem;
    font-size: 1.2rem;
    margin: 0.5rem;
    color: var(--cor4);

}

